.box2 {
  height: 200px;
  /* background-color: #7A0404;  Se lo da el padre*/
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}
.cardA2 {
  display: inline-block;
  background-image: url(http://localhost:3000/Styles/Images/cervezas.jpg);
  height: 100%;
  width: 200px;
  margin-right: 2em;
  position: relative;
}
.cardB2 {
  display: inline-block;
  background-image: url(http://localhost:3000/Styles/Images/cervezas.jpg);
  height: 100%;
  width: 200px;
  margin-right: 2em;
  position: relative;
}
.cardC2 {
  display: inline-block;
  background-image: url(http://localhost:3000/Styles/Images/cervezas.jpg);
  height: 100%;
  width: 200px;
  margin-right: 2em;
  position: relative;
}
.cardD2 {
  display: inline-block;
  background-image: url(http://localhost:3000/Styles/Images/cervezas.jpg);
  height: 100%;
  width: 200px;
  margin-right: 2em;
  position: relative;
}

.footerSlide2 {
  height: 30%;
  background-color: #f8e88f;
  margin-top: 9em;
  display: flex;
  justify-content: center;
}
.icono2 {
  position: absolute;
  bottom: 35px;
  left: 20px;
  /* background-image: url(../../../Styles/Icons/beer.svg); */
  background-color: #2e2516;
  border-radius: 50%;
}
